<md-toolbar style="background-color:#f0f0f0">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><b>About Us</b></h2>
    </div>
</md-toolbar>
<md-content layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; background: url('src/img/bg-d.gif');">
      
      <div flex-sm="100" flex-gt-md="67" >
          
            <md-content layout="column">
                 <md-whiteframe class="md-whiteframe-2dp" style="padding:1em">
	                <p>
	                	  Upbunk.com is a premier free online listing service that provides an all round convenient student housing solution in various institutions across Nigeria.
	                </p>

	                <h2 style="margin-top:1.5em">
	                	Why we do it.
	                </h2>
	                <p>
	                	We are dedicated to providing fast, secure and convenient housing solution for students, so that they can get on to more important things like studying, exploring, and making new friends.
	                </p>

	                 <h2 style="margin-top:1.5em">
	                	What we do.
	                </h2>
	                <p>
	                	 Upbunk offers three key features that are aimed at assisting students in securing accomodations, roommates and even household items to furnish their apartments with.
	                	 <h3>BUNK SEARCH</h3>
	                	 <p>
	                	 	 Ever wished there was a better alternative to trecking long distances and talking to countless real estate agents along the way but all to no avail when searching for an apartment ?, then you are in luck. With bunk search, you can now browse through hundreds of apartments listings from categories based on your search prefernces right from the comfort of your home.
	                	 </p>

	                	 <h3>BUNK SHARE</h3>
	                	 <p>
	                	 	 Ever cancelled or hesitated traveling to a neighbouring state for one academic convention or the other due to accomodation problems ? , then this feature will surely benefit you, with the bunk-share feature, students with extra bunk space in their apartments can put it up for temporal or permanent sharing for students in need of accomodation to benefit from.
	                	 </p>

	                	 <h3>BUNK SHOP</h3>
	                	 <p>
	                	 	This feature can be seen as a mini jumia crafted solely for students who are interested in selling or buying new or fairly used items ranging from electronics , books , household items like tv , matrass, rugs and lots more.
	                	 </p>
	                </p>
	             </md-whiteframe>

            </md-content>
      </div>
      <div flex-gt-md="33" ng-show="bigScreen()" style="padding:0 1em">
          <ads-box></ads-box>
      </div>
</md-content>